*
{
    margin: 0;
    box-sizing: border-box;
}
.body_container{
    overflow: auto;
    background-color: #E5E5E5;
    padding: 50px;
}
.category_container{
    padding: 20px;
    height: 100%;
    background-color: white;
    
}
.upper_section{
    display: grid;
    grid-template-columns: auto auto;
}
.right_section{
    margin-top: 40px;
}
h1{
    padding: 20px 0;
}
p{
    padding-bottom: 30px;
}

.buttons{
padding: 20px;
border: 1px solid #474747;
box-sizing: border-box;
border-radius: 11px;

}
.stylebutton{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}